/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #F4FEFF;
}

button.post-reply-button {
    left: -22px;
    position: relative;
    display: inline-block;
    padding: 5px 5px;
    background-color:#EAEAEA;
    border: none;
    border-radius: 5px;
    color: black;
    top: 37px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
}

.single-post {
    position: relative;
    background: white;
    border-radius: 10px;
    width: 1200px;
    left: -21px;
    border: 1px solid #ddd;
}

.comment-container {
    position: relative;
    top: -1400px;
    left: -337px;
}

.vote-item {
    width: 1200px;
    height: 600px;
    padding: 10px;
    margin-bottom: 20px;
    margin-top: 29px;
    border: none;
    background-color: white;
}

.vote-item h2 {
    position: relative;
    top: 63px;
    left: 556px;
    font-size: 20px;
}

.vote-item img {
    width: 40%;
    height: auto;
    display: block;
    margin-top: -18px;
    vertical-align: middle;
}

.vote-item p {
    position: relative;
    top: -317px;
    left: 554px;
    margin-bottom: 100px;
}

.button-container {
    flex-direction: column;
    gap: 90px;
    position: relative;
    top: -548px;
}

.button-container button {
    margin-top: 10px;
    width: 80px;
    height: 30px;
    border: none;
    border-radius: 5px;
    background: rgb(255, 151, 0);
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button-container #button1 {
    top: -2px;
    position: relative;
    left: 982px;
    font-size: 13px;
    width: 70px;
}

.button-container #button2 {
    top: 126px;
    position: relative;
    left: 913px;
    font-size: 13px;
    width: 70px;
}

.bar-container1 {
    display: flex;
    width: 400px;
    height: 30px;
    cursor: pointer;
    position: relative;
    border-radius: 5px;
    top: -340px;
    left: 706px;
    background-color: #FF69B4;
    margin-top: -240px;
    margin-left: -150px;
}

.bar-container2 {
    display: flex;
    width: 400px;
    height: 30px;
    cursor: pointer;
    position: relative;
    border-radius: 5px;
    top: -340px;
    background-color: skyblue;
    margin-top: 100px;
    left: 554px;
}

.bar1 {
    position: relative;
    height: 100%;
    border-radius: 5px;
    background: rgb(251, 33, 117);
    background: linear-gradient(0deg, rgba(251, 33, 117, 1) 0%, rgba(234, 76, 137, 1) 100%);
}

button#button1.selected {
    background: rgb(251, 33, 117);
    background: linear-gradient(0deg, rgba(251, 33, 117, 1) 0%, rgba(234, 76, 137, 1) 100%);
    color: #fff;
}

.bar2 {
    position: relative;
    height: 100%;
    border-radius: 5px;
    background: rgb(0, 172, 238);
    background: linear-gradient(0deg, rgba(0, 172, 238, 1) 0%, rgba(2, 126, 251, 1) 100%);
}

button#button2.selected {
    background: rgb(0, 172, 238);
    background: linear-gradient(0deg, rgba(0, 172, 238, 1) 0%, rgba(2, 126, 251, 1) 100%);
    color: #fff;
}

.text-left {
    position: absolute;
}

#text1 {
    color: white;
    position: absolute;
    top: 10%;
    left: 5%;
}

#text2 {
    position: absolute;
    color: white;
    top: 10%;
    left: 5%;
}

.percentage {
    position: absolute;
    color: white;
    left: 360px;
    top: 3px;
}

#pagination {
    padding: 10px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    left: 458px;
    top: 1000px;
    color: black;
}

#pageButton {
    position: relative;
    background-color: white;
    border: none;
    margin: 10px;
    color: black;
    width: 30px;
    height: 30px;
    left: -223px;
}

#pageButton :hover {
    box-shadow: 0 0 0 1px gray;
    color: blue;
}

#prevButton {
    position: absolute;
    width: 70px;
    height: 30px;
    color: black;
    border: none;
    cursor: pointer;
    font-size: 15px;
    left: 10px;
    text-align: center;
    padding: 4.5px 3px;
    background-color: white;
}

#nextButton {
    position: absolute;
    width: 70px;
    height: 30px;
    color: black;
    border: none;
    cursor: pointer;
    font-size: 15px;
    left: 234px;
    text-align: center;
    padding: 4.5px 3px;
    background-color: white;
}

#pagination span {
    font-size: 18px;
    margin: 0 10px;
}

#comment-input {
    width: 1100px;
    height: 70px;
    border: 1px solid #ddd;
    outline: none;
    position: absolute;
    left: 400px;
    top: 1200px;
    resize: none;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    resize: none;
}

#comment-section {
    top: 35px;
    position: relative;
    left: 20px;
    width: 1100px;
}

#submitComment {
    position: relative;
    top: 1418px;
    left: 1425px;
    background-color: #28a745;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    width: 63px;
    height: 50px;
}
#submitComment1 {
    position: relative;
    top: 1320px;
    left: 1425px;
    background-color: #28a745;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    width: 63px;
    height: 50px;
}

h3 {
    width: 70px;
    position: absolute;
    font-size: 32px;
    top: 1441px;
    left: 383px;
}

.comment-container input {
    text-align: left;
}

#content {
    margin: auto;
    width: 1100px;
    height: 70px;
    border: 1px solid #ddd;
    outline: none;
    position: absolute;
    left: 387px;
    top: 1555px;
    resize: none;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    resize: none;
}
#content1{
	display:flex;
	margin: auto;
	width: 1100px;
	height: 70px;
	border: 1px solid #ddd;
	outline: none;
	position: absolute;
	left: 387px;
	top: 1265px;
	resize: none;
	font-family: inherit;
	font-size: inherit;
	color: inherit;
	resize: none;
}

#name1 {
    position: absolute;
    top: 1518px;
    left: 387px;
    font-size: 20px;
    width: 200px;
}

.comment-item {
    top: 5px;
    left: 30px;
    position: relative;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #ccc;
    overflow-wrap: break-word;
    height: auto;
}

.no-replies {
    position: relative;
    top: 54px;
    left: 30px;
}

.comment-parent-form {position: relative;top: 2px;}

.comment-actions {
    position: relative;
    height: 50px;
}

.comment-edit-form {
    top: -97px;
    position: relative;
}

small {
    left: 1px;
    top: -42px;
    position: relative;
}

.comment-reply-form {
    margin-bottom: 10px;
    border: 1px solid #ccc;
    position: relative;
    background-color: #FAFBFC;
    height:auto;
    top: -4px;
    border-radius: 10px;
}
.comment-reply-form.no-replies {
    height: 150px;
}
.comment-content {
    height: auto;
}

.comment-content h4 {
    font-size: 13px;
    margin-top: 20px;
}

.comment-item h5 {
    order: 1;
    position: relative;
    top: -49px;
    font-size: 13px;
}

.comment-item p {
    order: 2;
    top: 26px;
    position: relative;
    font-size: 20px;
    overflow-wrap: break-word;
    width: 1200px;
}

.edit-button {
    color: #ffc107;
    border: none;
    background-color: transparent;
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
    position: relative;
    left: 1016px;
    top: -104px;
}

.delete-button {
    position: relative;
    left: 1058px;
    top: -135px;
    color: #dc3545;
    border: none;
    background-color: transparent;
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
}

.menu-button {
    display: block;
    position: relative;
    background-color: #fff;
    color: black;
    font-size: 20px;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    left: 1068px;
    top: -101px;
}

.edit-content {
    position: absolute;
    top: 9px;
    width: 1000px;
    height: 70px;
    resize: none;
    border: 1px solid #ddd;
}

.edit-form {
    position: relative;
}

.reply-button {
    height: 30px;
    position: relative;
    top: -9px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 3px;
    width: 50px;
    margin-right: 13px;
}

.save-edit-button {
    height: 30px;
    position: relative;
    top: 9px;
    left: 1007px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 3px;
    width: 50px;
    margin-right: 13px;
}

.cancel-edit-button {
    height: 30px;
    position: relative;
    top: 49px;
    left: 939px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 3px;
    width: 50px;
    margin-right: 13px;
}

.current-page {
    color: blue;
    box-shadow: 0 0 0 1px gray;
}

.votelist {
    width: 100%;
}

.reply-form {
    position: relative;
}

.reply-content {
    top: 10px;
    resize: none;
    border: 0.5px solid #ddd;
    left: 25px;
    position: relative;
    height: 66px;
    width: 1050px;
}

.reply-container {
    position: relative;
    display: block;
    top: -18px;
}

.reply-contents {
    width: 1050px;
    border-bottom: 1px solid #ccc;
    margin-top: 65px;
    margin-left: 25px;
    height: auto;
}

@media (max-width: 767px) {
	.comment-actions {
    position: relative;
    height: 50px;
	}
	.comment-content {
    height: auto;
}
    .votelist {
        width:90%;
    }

    .vote-item {
        width: 90%;
        margin-left: 5%;
        height: 654px;
        border: 1px solid #ddd;
        border-radius: 10px;
        margin-top: -70px;
        box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5), 7px 7px 20px 0px rgba(0, 0, 0, .1), 4px 4px 5px 0px rgba(0, 0, 0, .1);
    }

    .vote-item img {
        width: 100%;
        margin-top: -24px;
    }

    .bar-container1 {
        width: 100%;
        left: 51%;
        top: 18%;
    }

    .bar-container2 {
        width: 100%;
        top: 13%;
        left: 1px;
    }

    .button-container #button1 {
        width: 18%;
        font-size: 13px;
        position: relative;
        left: 120px;
        top: 492px;
    }

    .button-container #button2 {
        width: 18%;
        font-size: 13px;
        position: relative;
        left: 66px;
        top: 592px;
    }

    .vote-item h2 {
        top: 51%;
        position: relative;
        left: 2px;
        font-size: 13px;
    }

    .vote-item p {
        margin-bottom: 76px;
        position: relative;
        left: 2px;
        font-size: 13px;
        top: 14%;
    }

    .percentage {
        position: absolute;
        top: 7%;
        left: 227px;
    }

    .pageContainer {
        position: relative;
        left: -463px;
        top: -8px;
    }

    .pageContainer #prevPage {
        left: 461px;
        top: 58px;
    }

    .pageContainer #nextPage {
        left: 731px;
        top: -12px;
    }
}

@media (max-width: 767px) {
    .comment-container {
        left: -334px;
        top: -1390px;
        position: relative;
    }

    .comment-container h3 {
        font-size: 20px;
        width: 50px;
        left: 349px;
    }

    .comment-container #name1 {
        top: 1479px;
        width: 200px;
        font-size: 13px;
        left: 349px;
    }

    .comment-container #content {
        left: 348px;
        position: absolute;
        top: 1505px;
        width: 286px;
        height: 16%;
    }

    .comment-container #submitComment {
        top: 1316px;
        left: 571px;
        height: 40px;
    }
}

@media (max-width: 767px) {
    #comment-section {
        left: 12px;
        width: 286px;
        position: relative;
        top: -53px;
        background: white;
    }

    .comment-item {
        position: relative;
        top: 10px;
        width: 276px;
        left: 9px;
        height: auto;
    }

    .comment-item p {
        position: relative;
        top: 22px;
        font-size: 16px;
        overflow-wrap: break-word;
        word-wrap: break-word;
        word-break: break-word;
        width: 276px;
    }

    .comment-reply-form p {
        left: 10px;
        position: relative;
        top: 0px;
    }

    .reply-contents p {
        left: 1px;
        top: 37px;
    }

    .reply-contents h6 {
        left: 1px;
        position: relative;
        top: -47px;
        font-size: 10px;
    }

    .comment-content p {
        position: relative;
        overflow-wrap: break-word;
        top: 21px;
    }

    .comment-item h5 {
        top: 35px;
        position: absolute;
        font-size: 13px;
    }

    .comment-content h5 {
        position: relative;
        top: -55px;
    }

    .comment-item .menu-button {
        top: -111px;
        position: absolute;
        left: 237px;
    }

    .comment-item .edit-button {
        border: 1px solid #ddd;
        top: -77px;
        position: absolute;
        left: 231px;
        width: 50px;
        z-index: 1000;
        background-color: white;
    }

    .comment-item .delete-button {
        border: 1px solid #ddd;
        top: -45px;
        position: absolute;
        left: 231px;
        width: 50px;
        z-index: 1000;
        background-color: white;
    }

    .edit-content {
        position: relative;
        width: 227px;
        top: 3px;
        height: auto;
    }
    .single-post {
    background: white;
    border-radius: 10px;
    width: 317px;
    left: 0px;
    border: 1px solid #ddd;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
     7px 7px 20px 0px rgba(0, 0, 0, .1), 
     4px 4px 5px 0px rgba(0, 0, 0, .1);
}

.edit-form {
    position: relative;
}

.save-edit-button {
    left: 124px;
    position: relative;
    top: 0px;
}

.cancel-edit-button {
    left: 110px;
    position: relative;
    top: 0px;
}

.post-reply-button {
	left: -22px;
	position: relative;
	display: inline-block;
	padding: 5px 5px;
	background-color:#EAEAEA;
	border: none;
	border-radius: 5px;
	color: black;
	top: 37px;
	font-size: 16px;
	text-align: center;
	text-decoration: none;
}

.reply-content {
    position: relative;
    left: 20px;
}

.reply-form {
    position: relative;
    top: 10px;
}
}

@media (max-width: 767px) {
    #pagination {
        position: relative;
        left: -3px;
        top: 209px;
        width: 400px;
    }

    #prevButton {
        left: 10px;
    }

    #pageButton {
        left: -42px;
    }

    .reply-contents {
        position: relative;
    }

    .reply-contents p {
        position: relative;
        top: 35px;
    }
}
@media (max-width: 767px){
	small {
    left: 1px;
    top: -43px;
    position: relative;
 }
	.reply-button{
		padding: 3px 8px;
		display: flex;
		position: relative;
		top: -8px;
		left: 0px;
	}
	.comment-edit-form {
    top: -96px;
    position: relative;
    height: auto;
 }
	.replies-container p {
    position: relative;
    top: 10px;
	}
	.reply-content {
    top: 10px;
    resize: none;
    border: 0.5px solid #ddd;
    left: 8px;
    position: relative;
    height: 28px;
    width: 260px;
	}
	.comment-reply-form {
    margin-bottom: 10px;
    border: 1px solid #ccc;
    position: relative;
    background-color: #FAFBFC;
    height: auto;
    top: -4px;
    border-radius: 10px;
	}
	.reply-contents {
    width: 260px;
    border-bottom: 1px solid #ccc;
    margin-top: 65px;
    margin-left: 8px;
    height: auto;
	}
	.reply-container {
    position: relative;
    display: block;
    top: -18px;
}
button.post-reply-button {
    left: 223px;
    position: relative;
    display: inline-block;
    padding: 5px 5px;
    background-color: #EAEAEA;
    border: none;
    border-radius: 5px;
    color: black;
    top: 10px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
}
.no-replies {
    position: relative;
    top: 40px;
    left: 13px;
    font-size: 13px;
}
}
.replies-container {
    position: relative;
    top: 667px;
}

.replies-container p {
    position: relative;
    top: 10px;
}

#userDropdownContainer {
    position: relative;
}

#userName {
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.profile-img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
}



.vote-list {
    left: -19px;
    position: relative;
    width: 354px;
}
/* ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â«ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¡ÃƒÆ’Ã¢â‚¬Â¦ÃƒÂ¢Ã¢â€šÂ¬Ã…â€œÃƒÆ’Ã†â€™Ãƒâ€šÃ‚ÂªÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â·ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¸ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚ÂÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¸ ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â­ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€šÃ‚ÂºÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¾ ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â«ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¾ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¤ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â«ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¹ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¾ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â«ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â°ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€šÃ‚Â */

.dropdown {
    position: relative;
    margin-right: -100px;
}

.dropdown-toggle {
    display: flex;
    align-items: center;
    padding: 15px;
    background-color: #fff;
    border: none;
    cursor: pointer;
    text-decoration: none;
    color: inherit;
}

.profile-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
    margin-left: -10px;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 200px; /* ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â«ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â©ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€šÃ‚ÂÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â«ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€šÃ‚Â°ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â´ ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â«ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¾ÃƒÆ’Ã¢â‚¬Â¹ÃƒÂ¢Ã¢â€šÂ¬Ã‚Â ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â«ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¹ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¾ ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â°ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€šÃ‚Â¢ */
    list-style-type: none;
    padding: 0;
    margin: 0;
    z-index: 1000;
    border: none;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-menu li {
    padding: 0;
}

.dropdown-menu li a {
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    color: inherit;
   
}

.dropdown-menu li:last-child a {
    border-bottom: none;
}

@media (max-width: 991px) {
    .dropdown-menu {
        position: static;
        width: 100%;
    }

    .dropdown:hover .dropdown-menu {
        display: none;
    }

    .dropdown-toggle:focus + .dropdown-menu,
    .dropdown-toggle:active + .dropdown-menu {
        display: block;
    }
}
#replycontain{
    position: absolute;
    top: 290px;
}
