@media (max-width: 900px) {
  .hide-below-900 {
    border: none !important; /* border 속성을 none으로 설정 */
    border-radius: 0; /* border-radius 속성을 초기화 */
  }
}

.profile-box {
  margin-right: 160px;
  margin-bottom: 60px;
  margin-top: -100px;
}

.profile-photo {
  margin-top: 80px;
  width: 130%;
  height: 130%;
  object-fit: cover;
  border-radius: 50%;
}

.photo-line {
  border: 1px solid #ccc;
  border-radius: 50%;
  width: 250px;
  height: 250px;
  margin-top: 100px;
  margin-left: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden; /* 넘치는 부분을 가립니다 */
}

@media (max-width: 900px) {
  .profile-box {
    margin-left: -40px;
    margin-top: 0px;
  }
  .photo-line {
    margin-top: -10px;
    margin-left: 200px;
  }

  
}

.username {
  color: #333;
  width: 180px;
  height: 50px;
  display: flex;
  margin-left: 130px;
  margin-top: 30px;
  justify-content: center;
  align-items: center;
}

@media (max-width : 900px) {
  .username {
    margin-left: 190px;
  }
}

.edit-link {
  width: 20px;
  height: 20px;
  display: block;
  text-decoration: none;
  color: #999;
}

.edit-link img {
  width: 150%;
  height: 150%;
  margin-left: 10px;
  margin-top: 7px;
}

.section-tittle {
  width: 300px;
}
.section-tittle > h3 {
  margin-top: -35px;
  margin-left: 10px;
  font-size: 50px;
  font-weight: bold;
  border: 1px solid black;
  background-color: white;
  border-style: hidden;
}

@media (max-width: 900px) {
  .section-tittle {
    width: 300px;
    margin-top: 50px;
  }

}

.right-box-container{
  height: 505px;
}

@media (max-width : 900px) {
  .right-box-container {
    margin-top: 50px;
  }
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 130px;
  margin-top: 70px;
  font-weight: bold;
  font-size: 20px;
}

.menu-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px; /* Each item will have a 20px gap from the next item */
  padding: 10px;
  border: 1px solid #ddd; /* Border for each menu item */
  border-radius: 5px; /* Rounded corners for border */
  width: 200px;
}

.menu > div {
  display: flex;
  align-items: center;
  margin-bottom: 20px; /* Each item will have a 20px gap from the next item */
}

.menu > div img {
  margin-right: 10px; /* Gap between image and link */
  width: 100px;
}

.menu > div a {
  text-decoration: none;
  color: #333;
  transition: color 0.3s ease;
  padding-right: 20px;
}

.menu > div a:hover {
  color: #7150BD; /* Change link color on hover */
}

@media (max-width: 900px) {

  .menu {
    margin-top: 50px;
    margin-left: 20px;
  }

  .ml-2 {
    width: 200px;
  }
  
  .menu > div img {
	width: 80px;
  }
  
  .right-box-container {
	height: 430px;
  }
}
