.logo-container {
    position: relative;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    /* You can use fixed position if you want to fix it to a specific point */
    position: absolute;
    left: 90%;
    transform: translateX(-50%);
    bottom: -30px;
  }
  
  .logo-text {
    color: #450b78;
    font-weight: 700;
    text-decoration: none;
    font-size: 40px; /* 고정된 텍스트 크기 */
    transition: opacity 0.3s ease-in-out;
    display: inline-block;
    width: 300px;
  }
  
  .hover-content {
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    position: absolute;
    top: 30%;
    margin-left: 190px;
    transform: translate(-75%, -30%);
    pointer-events: none;
    white-space: nowrap;
  }
  
  @media (max-width: 900px) {
	.hover-content {
		margin-left: 200px;
	}
  }
  
  .logo-text:hover {
    opacity: 0;
  }
  
  .logo-text:hover + .hover-content {
    opacity: 1;
  }
  
  .hover-text {
    color: #450b78;
    font-weight: 700;
    font-size: 40px;
    margin: 0;
  }
  
  .logo-image {
    width: 50px;
    height: 50px;
    background: url("/images/logo/mainlogo.png") no-repeat center
      center;
    background-size: contain;
    animation: spin 2s infinite linear;
    margin: 0;
  }
  
  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  @media (max-width: 1200px) {
    .logo {
        left: 205px;
        top: 20px;
    }

    .hover-content {
        top: 20px;
    }
    }


    .gray-line {
        border-top: 1px solid #ccc; /* Gray border style */
        margin-top: 20px; /* Adjust margin top as needed */
        width: 100%; /* Full width */
        margin-bottom: 50px;
    }
    
  
  .footer-text {
	color: #450b78;
    font-weight: 700;
    text-decoration: none;
    font-size: 40px; /* 고정된 텍스트 크기 */
    display: inline-block;
    width: 300px;
  }

/* 로그인 후 네비바 */

.dropdown {
    position: relative;
    margin-right: -100px;
}

.dropdown-toggle {
    display: flex;
    align-items: center;
    padding: 15px;
    background-color: #fff;
    border: none;
    cursor: pointer;
    text-decoration: none;
    color: inherit;
}

.profile-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
    margin-left: -10px;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 200px; /* 메뉴 너비 조정 */
    list-style-type: none;
    padding: 0;
    margin: 0;
    z-index: 1000;
    border: none;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-menu li {
    padding: 0;
}

.dropdown-menu li a {
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    color: inherit;
   
}

.dropdown-menu li:last-child a {
    border-bottom: none;
}

@media (max-width: 991px) {
    .dropdown-menu {
        position: static;
        width: 100%;
    }

    .dropdown:hover .dropdown-menu {
        display: none;
    }

    .dropdown-toggle:focus + .dropdown-menu,
    .dropdown-toggle:active + .dropdown-menu {
        display: block;
    }
  }
  
/* 기본 스타일 (데스크톱) */

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.service-area {
  background-color: #F4FEFF;
  width: 100%;
  padding: 40px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.service-icon img {
  width: 300px;
  height: auto;
  margin-bottom: 40px;
}

.say-something-aera {
  background-color: white;
  padding: 90px 0; /* pt-90 pb-90 대체 */
  width: 100%;
}

.card-select {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#card1 {
  width: 150px;
  height: 250px;
 /* border: 3px dotted #928f8fbd;*/
  border-radius: 20px;
}

.buttons {
    text-align: center;
    margin-bottom: 20px;
}

.buttons a {
    margin: 0 10px;
    padding: 10px 20px;
    border: 1px solid #ddd;
    background-color: #906DAC;
    cursor: pointer;
    border-radius: 4px;
    color: white;
    text-decoration-line: none;
}

.buttons a:hover {
    color: white;
    text-decoration-line: none;
}

#card1 img{
	width: 150px;
	height: 230px;
}

/* 모바일 스타일 (iPhone 12 Pro) */
@media screen and (max-width: 390px) {
  body, html {
    width: 390px;
    height: 844px;
  }

  .container {
    width: 100%;
    height: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
  }

  main {
    flex: 1;
    justify-content: space-between;
  }

  .service-area {
    padding: 20px 0;
    height: 550px;
  }

  .service-icon img {
    width: 150px;
    margin-bottom: 10px;
    margin-top: -60px;
  }

  .center-card {
    width: 80px;
    height: 130px;
    margin: 20px auto;
  }

  .say-something-aera {
      padding: 40px 0; /* 모바일에서 패딩 줄임 */
  }
  
  #card1 {
      width: 100px;
      height: 170px;
      /*border: 2px dotted #928f8fbd;*/
  }
  
  #card1 img{
	width: 150px;
	height: 230px;
	margin-left: -25px;
}

.contentDiv{
	margin-left: 25px;
	margin-right: 25px;
}

#readingContent {
    line-height: 2px;  /* 줄 간격을 줄임 */
    word-break: keep-all;
    word-wrap: break-word;
    text-align: justify;
    padding: 12px;
}

#readingContent p {
    margin-bottom: 15px;  /* 문단 간 간격 유지 */
    color:black;
}

#subcategory_name {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: -20px;
	margin-bottom: -10px;
	font-size: 20px;
	color:#450b78;
}

}
  
 /* 결과 저장 성공 모달 */
.modal-content {
                border-radius: 10px;
                box-shadow: 0 5px 15px rgba(0,0,0,.5);
            }
            .modal-header {
                border-bottom: none;
                padding: 20px 20px 0;
            }
            .modal-body {
                padding: 20px;
                text-align: center;
                font-size: 16px;
            }
            .modal-footer {
                border-top: none;
                padding: 0 20px 20px;
            }
            .modal-title {
                width: 100%;
                text-align: center;
                font-size: 18px;
                font-weight: bold;
            }
            .close {
                position: absolute;
                right: 10px;
                top: 10px;
                font-size: 28px;
            }
            .modal-dialog {
   				max-width: 300px;
    			margin: 0 auto;
    			position: absolute;
    			top: 35%;
    			left: 26%;
   				transform: translate(-50%, -50%);
   			}
            .btn-secondary {
                background-color: #6c5ce7;
                border-color: #6c5ce7;
                color: white;
                width: 100%;
                padding: 10px 0;
                font-size: 14px;
                border-radius: 5px;
                height:50px;
            }
            .btn-secondary:hover {
                background-color: #5f50e1;
                border-color: #5f50e1;
            }
