body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

/*네비게이션 부분*/

  .header-container {
    background-color: #7150bd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    padding: 10px 0;
    height: 100px; /* Fixed height */
    position: relative; /* Add relative positioning */
  }
  
  .logo-container {
    position: relative;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    /* You can use fixed position if you want to fix it to a specific point */
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .logo-text {
    color: #ffffff;
    font-weight: 700;
    text-decoration: none;
    font-size: 30px; /* 고정된 텍스트 크기 */
    transition: opacity 0.3s ease-in-out;
    display: inline-block;
  }
  
  .hover-content {
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    white-space: nowrap;
  }
  
  .logo-text:hover {
    opacity: 0;
  }
  
  .logo-text:hover + .hover-content {
    opacity: 1;
  }
  
  .hover-text {
    color: #ffffff;
    font-weight: 700;
    font-size: 30px;
    margin: 0;
  }
  
  .logo-image {
    width: 50px;
    height: 50px;
    background: url("/images/mainlogo.png") no-repeat center
      center;
    background-size: contain;
    animation: spin 2s infinite linear;
    margin: 0;
  }
  
  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  #right-section {
    display: flex;
    align-items: center;
    position: absolute;
    right: 0; /* Fixed position to the right */
    top: 50%;
    transform: translateY(-50%);
    padding-right: 50px; /* Optional padding for spacing */
  }
  
  #right-section a {
    color: white;
    text-decoration: none;
    font-size: 15px; /* Fixed font size */
    margin-left: 20px;
    font-weight: bold;
  }
  
  #right-section a:hover {
    text-decoration: none; /* Remove default underline */
    box-shadow: 0 2px 0 white; /* Create a "fake" underline with a shadow */
  }
  
  #verticalLine {
    position: absolute;
    top: 50%;
    left: 46%;
    transform: translateY(-50%);
    width: 1px;
    height: 80%;
    background-color: white; /* 원하는 색상으로 변경 가능 */
  }
  
  /* Navigation section styling */
  #nav-section {
    background: white;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
  }
  
  #center-section {
    width: 100%;
    text-align: center;
    padding: 10px; /* Add padding for spacing */
  }
  
  #nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
  }
  
  #nav ul li {
    position: relative;
    margin: 0 50px;
  }
  
  #nav ul li a {
    color: #888;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 15px;
    transition: color 0.3s;
    position: relative; /* 추가: 상대 위치 지정 */
    white-space: nowrap; /* Prevent text from wrapping */
  }
  
  #nav ul li a:hover::after {
    content: "";
    position: absolute;
    left: 50%; /* 선을 가운데로 맞추기 위해 왼쪽 위치를 50%로 설정 */
    bottom: -2px; /* 밑줄 위치 조정 */
    width: 50%; /* 선의 넓이를 줄임 */
    height: 5px; /* 밑줄 두께 조정 */
    background-color: #936fb0; /* 원하는 밑줄 색상 */
    transform: translateX(-50%); /* 가운데 정렬을 위해 이동 */
  }
  
  #nav ul li ul {
    background-color: #38356a;
    padding: 10px 0;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
    display: none;
  }
  
  #nav ul li:hover ul {
    display: block;
  }
  
  #nav ul li ul li {
    width: 100%;
  }
  
  #nav ul li ul li a {
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 8px 20px;
    font-size: 14px;
    transition: background-color 0.3s;
  }
  
  #nav ul li ul li a:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }

  @media (max-width: 768px) {
    .header-container {
      flex-direction: column;
      align-items: center;
    }
  
    .logo-container {
      margin-bottom: 10px;
    }
  
    #right-section {
      margin-top: 10px;
      text-align: center;
    }
  
    #nav-section {
      padding: 15px 0;
      margin-top: 0; /* Adjust margin for smaller screens */
    }
  
    #center-section {
      display: none;
    }
  
    #nav ul {
      flex-direction: column;
      align-items: center;
    }
  
    #nav ul li {
      margin: 5px 0;
    }
  
    #nav ul li ul {
      top: 0;
      left: 100%;
      transform: translateY(-50%);
    }
  
    #nav ul li:hover ul {
      display: none;
    }
  
    #nav ul li ul li {
      width: auto;
    }
  }
    
/*리뷰 부분*/

.review-summary {
    background-color: #fff;
    padding: 20px;
    border-bottom: 1px solid #ddd;
}

.review-summary h1 {
    font-size: 24px;
    margin: 0;
}

.review-summary #review-count {
    font-weight: normal;
}

.summary-content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 10px;
    padding-top: 50px;
    padding-bottom: 40px;
    padding-left: 100px;
    padding-right: 150px; /* 오른쪽 padding 추가 */
    border-top: 4px solid #ddd;
    position: relative;
}

.average-rating, .satisfaction {
    display: flex;
    align-items: center; /* 요소들을 동일 높이에 배치 */
}

.average-rating {
    margin-top: 0; /* 상단 여백 제거 */
    margin-bottom: 0; /* 하단 여백 제거 */
}

.rating-score {
    display: flex;
    align-items: center;
    margin-right: 20px; /* 평균 평점과 가운데 선 사이의 간격 추가 */
}

.rating-score .fixed-star {
    font-size: 32px;
    color: #f39c12;
    margin-right: 5px; /* 별과 숫자 평점 사이의 간격 */
}

.rating-score .rating-value {
    font-size: 32px;
    font-weight: bold;
}

.rating-details {
    font-size: 14px;
    color: #999;
    margin-left: 10px; /* 평점과 리뷰 갯수 사이의 간격 추가 */
}

.stars {
    display: flex;
    align-items: center;
}

.stars .star {
    font-size: 32px;
    color: #ddd; /* 기본 색상 */
}

.stars .star.filled {
    color: #f39c12; /* 채워진 별 색상 */
}

.satisfaction p {
    margin: 0;
    font-size: 14px;
    color: #333;
    margin-left: 10px; /* 별과 텍스트 사이의 간격 추가 */
}

.divider {
    width: 1px;
    height: 32px; /* 별과 동일한 높이로 조정 */
    background-color: #ddd;
    margin: 0 40px;
}

.review-gallery {
    padding: 100px;
    background-color: #fff;
}

.review-gallery h2 {
    margin: 0 0 10px 0;
}

.reviews {
    display: flex;
    flex-wrap: wrap; /* 줄 바꿈 추가 */
    justify-content: flex-start; /* 왼쪽 정렬 */
    padding: 0 20px; /* 사이드 여백 추가 */
}

.review-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    display: flex; /* Flexbox로 변경 */
    width: calc(50% - 40px); /* 카드 크기를 줄여 한 줄에 2개 */
    margin: 20px; /* 카드 사이의 간격 조정 */
    align-items: center; /* 카드 내부 요소를 가운데 정렬 */
    justify-content: space-around;
    position: relative; /* 위치 설정을 위해 추가 */
}

.review-card img {
    width: 15%; /* 이미지 크기를 줄임 */
    height: auto;
    margin-left: 10px; /* 이미지 좌측 여백 */
}

.review-content {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center; /* 텍스트를 수직 가운데 정렬 */
    width: 60%; /* 텍스트 영역 너비 조정 */
}

.review-header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.review-title {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px; /* 제목과 별점 사이의 간격 */
}

.review-meta {
    display: flex;
    align-items: center;
}

.review-stars {
    display: flex;
    align-items: center;
}

.review-stars .star {
    font-size: 20px;
    color: #ddd; /* 기본 색상 */
}

.review-stars .star.filled {
    color: #f39c12; /* 채워진 별 색상 */
}

.review-separator {
    margin: 0 10px;
    color: #ddd;
}

.review-date {
    font-size: 12px;
    color: #555;
}

.review-divider {
    width: 100%;
    height: 1px;
    background-color: #ddd;
    margin: 10px 0;
}

.review-text {
    font-size: 14px;
    
}

.nickname {
    position: absolute;
    right: 10px;
    bottom: 10px;
    font-size: 12px;
    color: #555;
}

.next-button {
    position: absolute;
    right: 10px;
    top: 10px;
    background-color: transparent;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

#pagination {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.page-button {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 10px 15px;
    margin: 0 5px;
    cursor: pointer;
}

.page-button.active {
    background-color: #f39c12;
    color: #fff;
    border-color: #f39c12;
}


/*푸터*/

  footer {
    background-color: #7150bd;
    color: white;
    padding: 20px 0;
    font-family: Arial, sans-serif;
    position: relative;
    bottom: 0;
    width: 100%;
    top: 1400px;
  }
  
  .footer-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .footer-company {
    margin-bottom: 20px;
  }
  
  .footer-label {
    font-size: 40px;
    font-weight: bold;

  }
  
  .footer-companyinfo {
    font-size: 14px;
    line-height: 1.5;
    margin-top: 20px;
  }
  
  .footer-companyinfo p {
    margin: 5px 0;
  }
  
  .copyright {
    font-size: 12px;
    margin-top: 10px;
  }
  
  .footer-user {
    margin-top: 20px;
  }
  
  @media (max-width: 1200px) {
    footer {
      top: 1600px; /* 기존에 설정된 top 속성 제거 */
      bottom: 0; /* 화면 하단에 고정 */
    }
  
    .footer-wrapper {
      padding: 10px; /* 내용을 좀 더 촘촘히 배치하기 위해 패딩 축소 */
    }
    
    .footer-label {
      font-size: 50px; /* 폰트 크기를 더 작게 설정 */
    }
    
    .footer-companyinfo {
      font-size: 12px; /* 폰트 크기를 더 작게 설정 */
    }
    
    .copyright {
      font-size: 10px; /* 폰트 크기를 더 작게 설정 */
    }
  }

/* 로그인 시 네비바 바뀌는 부분 스타일 */
#userDropdownContainer {
  position: relative;
}

#userName {
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.profile-img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}

#userDropdown {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 180px;  /* 넓이를 180px로 증가 */
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  right: 0;
  top: 100%;
  border-radius: 4px;
  padding: 10px 0;  /* 상하 패딩 추가 */
}

#userDropdownContainer:hover #userDropdown {
  display: block;
}

#userDropdown a {
  color: #333;
  padding: 12px 20px;  /* 좌우 패딩 증가 */
  text-decoration: none;
  display: block;
  text-align: left;  /* 텍스트 왼쪽 정렬 */
  font-size: 14px;  /* 글자 크기 조정 */
}

#userDropdown a:hover {
  background-color: #f1f1f1;
}
