/* 기존 CSS 스타일 유지 */
.review-summary {
    background-color: #fff;
    padding: 20px;
    border-bottom: 1px solid #ddd;
}

.review-summary h2 {
    font-size: 24px;
    margin: 0;
}

.review-summary #review-count {
    font-weight: normal;
}

.review-stars-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 40px;
    padding-top: 50px;
    padding-bottom: 40px;
    padding-left: 100px;
    padding-right: 150px;
    border-top: 4px solid #ddd;
    position: relative;
}

.review-rating-score, .review-satisfaction {
    display: flex;
    align-items: center;
}

.review-rating-score {
    margin-top: 0;
    margin-bottom: 0;
}

.review-rating-score .review-fixed-star {
    font-size: 32px;
    color: #f39c12;
    margin-right: 5px;
}

.review-rating-score .review-rating-value {
    font-size: 32px;
    font-weight: bold;
}

.review-rating-details {
    font-size: 14px;
    color: #999;
    margin-left: 10px;
}

.custom-average-stars .custom-average-star {
    font-size: 32px;
    color: #ddd; /* 기본 색상 */
}

.custom-average-stars .custom-average-star.filled {
    color: #f39c12; /* 채워진 별 색상 */
}

.custom-average-stars .custom-average-star.half-filled {
    position: relative;
}

.custom-average-stars .custom-average-star.half-filled::after {
    content: '★';
    color: #f39c12;
    position: absolute;
    left: 0;
    width: 50%;
    overflow: hidden;
}

.review-meta .review-stars {
    font-size: inherit; /* 폰트 크기를 그대로 유지 */
    color: #ffd700; /* 별의 색상을 골드로 설정 */
}

.review-meta .review-stars .review-star {
    color: #ffd700; /* 채워진 별의 색상을 골드로 설정 */
}

.review-meta .review-stars .review-star.half-filled::after {
    color: #ffd700; /* 반 채워진 별의 색상을 골드로 설정 */
}

.review-satisfaction p {
    margin: 0;
    font-size: 14px;
    color: #333;
    margin-left: 10px;
}

.review-divider {
    width: 1px;
    height: 32px;
    background-color: #ddd;
    margin: 0 40px;
}

.review-gallery {
    padding: 100px;
    background-color: #fff;
}

.review-gallery h2 {
    margin: 0 0 10px 0;
}

.review-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 0 20px;
}

.review-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: calc(33.333% - 100px);
    margin: 20px;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    position: relative;
}

@media screen and (max-width: 768px) {
    .review-card {
        width: calc(50% - 40px);
        margin: 10px;
    }
}

@media screen and (max-width: 480px) {
    .review-card {
        width: calc(100% - 40px);
        margin: 10px 20px;
    }
}

.review-filter-buttons {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    justify-content: center;
}

.review-filter-btn {
    background: none;
    border: none;
    font-size: 16px;
    color: #8f1bdc;
    margin: 0 10px;
    cursor: pointer;
}

.review-filter-btn:hover, .review-filter-btn:focus {
    color: #f39c12;
}

.review-filter-btn.active {
    color: #fff;
    background-color: #17a2b8;
    border-radius: 20px;
    padding: 5px 10px;
}

.review-card img {
    width: 80px;
    height: 80px;
    margin-bottom: 10px;
}

.review-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.review-meta {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    font-size: 12px;
    color: #999;
}

.review-stars .review-star {
    font-size: 32px;
    color: #f39c12;
}

.review-separator {
    margin: 0 5px;
    color: #ddd;
}

.review-date {
    font-size: 12px;
    color: #555;
    margin-left: 5px;
}

.review-text {
    font-size: 14px;
    color: #555;
    margin-bottom: 10px;
}

.nickname {
    font-size: 12px;
    color: #999;
}

.review-link {
    color: #007bff;
    font-size: 12px;
    text-decoration: none;
}

.review-link:hover {
    text-decoration: underline;
}

.review-pagination {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.page-button {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 10px 15px;
    margin: 0 5px;
    cursor: pointer;
}

.page-button.active {
    background-color: #f39c12;
    color: #fff;
    border-color: #f39c12;
}

.custom-h1 {
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    margin-top: 150px;
    margin-bottom: 50px;
    color: #333;
    position: relative;
    font-family: serif;
    z-index: 1;
}

.custom-h1::before {
    content: "";
    background-color: #f0e9ff;
    position: absolute;
    top: -100%;
    left: -10px;
    right: -10px;
    bottom: -100%;
    z-index: -1;
}

.custom-h2 {
    font-size: 24px;
    font-weight: bold;
    text-align: left;
    margin-top: 20px;
    color: #555;
}

.review-summary h2 {
    font-size: 24px;
    margin: 0;
    color: #000;
}

/* 모바일 스타일 */
@media screen and (max-width: 768px) {
    .review-filter-buttons {
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
        justify-content: center;
    }

    .review-summary .review-rating-details {
        display: none;
    }

    .review-summary {
        padding: 20px 10px;
        text-align: center;
    }

    .review-stars-container {
        padding: 20px 10px;
    }
}

/* 모달 스타일 */
.custom-modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.custom-modal-content {
    background-color: #fff;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 35%;
    max-width: 550px;
    z-index: 1001;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
}

.custom-close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.custom-close:hover,
.custom-close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.custom-modal-title {
    text-align: center;
}

.custom-review-details {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 20px;
}

.custom-review-user {
    display: flex;
    align-items: center;
}

.custom-modal-image {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.custom-user-info {
    display: flex;
    flex-direction: column;
}

.custom-user-name {
    font-weight: bold;
    font-size: 18px;
}

.custom-user-role {
    font-size: 14px;
    color: #888;
}

.custom-review-rating {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.custom-modal-rating-score {
    font-weight: bold;
    font-size: 16px;
    margin-left: 5px;
}

#custom-modal-rating .custom-modal-star {
    font-size: 24px;
    color: #ffd700; /* 기본 색상 */
}

#custom-modal-rating .custom-modal-star.filled {
    color: #ffd700; /* 채워진 별 색상 */
}

#custom-modal-rating .custom-modal-star.half-filled {
    position: relative;
}

#custom-modal-rating .custom-modal-star.half-filled::after {
    content: '★';
    color: #ffd700;
    position: absolute;
    left: 0;
    width: 50%;
    overflow: hidden;
}

#custom-review-text {
    width: 100%;
    height: 100px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    box-sizing: border-box;
}

#custom-character-count {
    text-align: right;
    font-size: 12px;
    color: #888;
}

.custom-modal-buttons {
    display: flex;
    justify-content: space-around;
}

.custom-modal-buttons {
    display: flex;
    justify-content: center;
    gap: 10px; /* 버튼 간격 조정 */
}

.custom-modal-buttons button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #f7a728;
    color: white;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.custom-modal-buttons button:hover {
    background-color: #138496;
}

#custom-delete-review {
    background-color: #f7a728;
    color: white;
}

#custom-delete-review:hover {
    background-color: #c82333;
}

/* 모바일 스타일 */
@media screen and (max-width: 768px) {
    .custom-modal-content {
        width: 80%;
        padding: 10px;
        margin-top: 140px;
    }

    .custom-modal-title {
        font-size: 24px;
        margin-top: 15px;
    }

    .custom-modal-image {
        width: 40px;
        height: 40px;
        margin-right: 5px;
    }

    .custom-user-name {
        font-size: 16px;
    }

    .custom-user-role {
        font-size: 12px;
    }

    .custom-review-rating .custom-modal-rating-score {
        font-size: 14px;
    }

    #custom-modal-rating .custom-modal-star {
        font-size: 20px;
    }

    #custom-review-text {
        height: 80px;
    }

    .custom-modal-buttons button {
        font-size: 12px;
        padding: 8px 16px;
    }
}


/* 수정 버튼 스타일 */
.edit-review-btn {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: transparent;
    color: #8f1bdc;
    border: none;
    font-size: 11px;
    cursor: pointer;
}

.review-edit-btn:hover {
    color: #f39c12;
}

.go-to-tarot-btn {
    position: static;
    bottom: 10px;
    right: 10px;
    background-color: transparent;
    color: #8f1bdc;
    border: none;
    font-size: 11px;
    cursor: pointer;
}

/* 배경 흐림 처리 */
body.modal-open {
    overflow: hidden;
}

body.modal-open .content {
    filter: blur(5px);
}

/* 로그인 후 네비바 */
.dropdown {
    position: relative;
    margin-right: -100px;
}

.dropdown-toggle {
    display: flex;
    align-items: center;
    padding: 15px;
    background-color: #fff;
    border: none;
    cursor: pointer;
    text-decoration: none;
    color: inherit;
}

.profile-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
    margin-left: -10px;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 200px; /* 메뉴 너비 조정 */
    list-style-type: none;
    padding: 0;
    margin: 0;
    z-index: 1000;
    border: none;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-menu li {
    padding: 0;
}

.dropdown-menu li a {
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    color: inherit;
}

.dropdown-menu li:last-child a {
    border-bottom: none;
}

@media (max-width: 991px) {
    .dropdown-menu {
        position: static;
        width: 100%;
    }

    .dropdown:hover .dropdown-menu {
        display: none;
    }

    .dropdown-toggle:focus + .dropdown-menu,
    .dropdown-toggle:active + .dropdown-menu {
        display: block;
    }
}

/* 경고 모달 스타일 추가 */
.warning-modal {
    display: none;
    position: fixed;
    z-index: 1001;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.warning-modal-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
    max-width: 450px;
    z-index: 1002;
    border-radius: 10px;
    text-align: center;
}

.warning-close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.warning-close:hover,
.warning-close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.warning-modal-title {
    font-size: 24px;
    margin-bottom: 20px;
}

.warning-modal-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.warning-modal-buttons button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
    background-color: #17a2b8;
}

.warning-modal-buttons .confirm-button {
    background-color: #007bff;
    color: white;
}

.warning-modal-buttons .confirm-button:hover {
    background-color: #0056b3;
}

.warning-modal-buttons .cancel-button {
    background-color: #dc3545;
    color: white;
}

.warning-modal-buttons .cancel-button:hover {
    background-color: #c82333;
}

/* 리뷰 삭제 완료 모달 스타일 */
.deletion-modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.deletion-modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 300px; /* 모달의 너비를 고정합니다 */
    text-align: center;
    border-radius: 10px; /* 모서리를 둥글게 만듭니다 */
    box-shadow: 0 2px 10px rgba(0,0,0,0.1); /* 약간의 그림자를 추가합니다 */
    margin-top: 250px;
}

/* OK 버튼 스타일 */
.modal-ok-button {
    background-color: #4CAF50; /* 초록색 */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 20px; /* 버튼과 텍스트 사이에 간격을 추가합니다 */
    cursor: pointer;
    border-radius: 10px; /* 버튼 모서리를 둥글게 만듭니다 */
    transition: background-color 0.3s ease; /* 호버 시 배경색 전환을 부드럽게 만듭니다 */
}

.modal-ok-button:hover {
    background-color: #45a049; /* 호버 시 약간 더 어두운 초록색으로 변경합니다 */
}

/* 리뷰 수정 완료 모달 스타일 */
.edit-review-modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.edit-review-modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 300px; /* 모달의 너비를 고정합니다 */
    text-align: center;
    border-radius: 10px; /* 모서리를 둥글게 만듭니다 */
    box-shadow: 0 2px 10px rgba(0,0,0,0.1); /* 약간의 그림자를 추가합니다 */
    margin-top: 250px;
}

/* OK 버튼 스타일 */
.edit-review-ok-button {
    background-color: #4CAF50; /* 초록색 */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 20px; /* 버튼과 텍스트 사이에 간격을 추가합니다 */
    cursor: pointer;
    border-radius: 10px; /* 버튼 모서리를 둥글게 만듭니다 */
    transition: background-color 0.3s ease; /* 호버 시 배경색 전환을 부드럽게 만듭니다 */
}

.edit-review-ok-button:hover {
    background-color: #45a049; /* 호버 시 약간 더 어두운 초록색으로 변경합니다 */
}

/* 모바일 스타일에서도 삭제 모달 창이 웹과 동일하게 보이도록 설정 */
@media screen and (max-width: 768px) {
    .warning-modal-content {
        width: 80%;
        max-width: none;
        padding: 20px;
        margin-top: 150px;
    }

    .warning-modal-title {
        font-size: 24px;
    }

    .warning-close {
        font-size: 28px;
    }

    .warning-modal-buttons button {
        font-size: 14px;
        padding: 10px 20px;
    }
}

