/* html, body {
    font-family: Arial, sans-serif;
    background-color: white;
    margin: 0;
    padding: 0;
    height:100%;
    display :flex;
    flex-direction: column;
    
  } */
  


  .header-sticky {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    transition: all 0.3s ease-out 0s;
    background: #fff;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.05);
}




/* 메인 콘텐츠 */
.main-content1 {
    margin-top: 40px;
    flex-grow: 1;
    display: flow-root;
    flex-direction: column; 
    margin-bottom: 0;
    color: #450b78;
    font-weight: 700;
    
}

.container1 {
    max-width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    /* margin-left: 5px; */
    margin: 0 auto; /* 좌우 중앙 정렬을 위해 추가 */

    
}

.login-box1 {
    background-color: #ffffff;
    border: 1px solid #8f1bdc;
    border-radius: 10px;
    margin-top: 150px;
    margin-bottom: 30px;;
    padding: 20px;
    box-shadow:  2px 2px 10px rgba(0, 0, 0, 0.1);
    
}

/* 로그인 폼 스타일 */
.login-wrapper {
    display: flex;
    align-items: center;
    gap: 20px;
    flex-direction: column;
    margin-top: 20px;
    color: #450b78;
    font-weight: 550;
    font-size: 13px;
}

.login-wrapper h2 {
    font-size: 24px;
    color: #450b78;
    font-weight: 700;
    

}

.login-wrapper form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 300px;
}

.login-wrapper input[type="text"],
.login-wrapper input[type="password"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-wrapper .input-control {
    display: flex;
    align-items: center;
    
}


.login-wrapper .input-control input[type="checkbox"] {
    margin-right: 5px; /* 체크박스와 라벨 사이 간격 */
}



.login-wrapper .input-control label {
    color: #666;
    font-weight: 550;
    font-size: 11px;
}

.login-wrapper .find-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.login-wrapper button,
.login-wrapper input[type="submit"],
.login-wrapper input[type="button"] {
    background: none;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    color: inherit;
    text-decoration: none;
}

.login-wrapper .find-links .separator {
    color: #ccc;
    
}

#login {
    width: 300px;
    display: flex;
    justify-content: center;
    background-color: #7150bd;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    color: white;
    font-weight: 600px;
    font-size: 14px;
}

.login-wrapper button[type="submit"] {
    background: none;
    border: none;
    padding: 10px;
    font: inherit;
    cursor: pointer;
    color: #450b78;
    text-decoration: none;
    align-self: center;
    margin-top: 10px;
    
}

.login-wrapper button[type="submit"]:hover {
    text-decoration: underline;
    
}


.footer-padding {
    padding: 0;
}


@media (max-width: 900px) {
    .main-content1 {
        margin-top: 40px;
        flex-grow: 1;
        display: flow-root;
        flex-direction: column; 
        margin-bottom: 0;
        color: #450b78;
        font-weight: 700;
        margin-bottom: -10px;
    }


    .login-box1 {
        border: none;
        box-shadow: none;
    }

    .container1{
        margin: -5px auto;
        margin-top: -71px;
    }
   }