.logo-container {
    position: relative;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    /* You can use fixed position if you want to fix it to a specific point */
    position: absolute;
    left: 90%;
    transform: translateX(-50%);
    bottom: -30px;
  }
  
  .logo-text {
    color: #450b78;
    font-weight: 700;
    text-decoration: none;
    font-size: 40px; /* 고정된 텍스트 크기 */
    transition: opacity 0.3s ease-in-out;
    display: inline-block;
    width: 300px;
  }
  
  .hover-content {
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    position: absolute;
    top: 30%;
    margin-left: 190px;
    transform: translate(-75%, -30%);
    pointer-events: none;
    white-space: nowrap;
  }
  
  @media (max-width: 900px) {
	.hover-content {
		margin-left: 200px;
	}
  }
  
  .logo-text:hover {
    opacity: 0;
  }
  
  .logo-text:hover + .hover-content {
    opacity: 1;
  }
  
  .hover-text {
    color: #450b78;
    font-weight: 700;
    font-size: 40px;
    margin: 0;
  }
  
  .logo-image {
    width: 50px;
    height: 50px;
    background: url("/images/logo/mainlogo.png") no-repeat center
      center;
    background-size: contain;
    animation: spin 2s infinite linear;
    margin: 0;
  }
  
  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  @media (max-width: 1200px) {
    .logo {
        left: 205px;
        top: 20px;
    }

    .hover-content {
        top: 20px;
    }
    }


    .gray-line {
        border-top: 1px solid #ccc; /* Gray border style */
        margin-top: 20px; /* Adjust margin top as needed */
        width: 100%; /* Full width */
        margin-bottom: 50px;
    }
    
  
  .footer-text {
	color: #450b78;
    font-weight: 700;
    text-decoration: none;
    font-size: 40px; /* 고정된 텍스트 크기 */
    display: inline-block;
    width: 300px;
  }

  /* 기본 스타일 (데스크톱) */

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.service-area {
  background-color: #F4FEFF;
  width: 100%;
  padding: 40px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.service-icon img {
  width: 300px;
  height: auto;
  margin-bottom: 40px;
}

.say-something-aera {
  background-color: white;
  padding: 90px 0; /* pt-90 pb-90 대체 */
  width: 100%;
}

.card-select {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#card1 {
  width: 200px;
  height: 300px;
  border: 3px dotted #928f8fbd;
  border-radius: 20px;
}

.showResult {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -170px;
  background-color: #906DAC; /* footer의 save 버튼과 같은 색상 */
  width: 150px;
  height: 45px;
  border: none;
  border-radius: 4px; /* footer 버튼과 같은 border-radius */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.showResult a {
  color: white;
  text-decoration-line: none;
}

.showResult a:hover {
  color: white;
  text-decoration-line: none;
}

.service-area span {
  display: flex;
  justify-content: center;
  margin-top:-20px;
}

.service-area span p {
  color: #450b78;
  font-size: 20px;
  font-weight: bold;
}

.speech-bubble {
  position: absolute;
  background: #f4feff;
  border-radius: 0.4em;
  padding: 15px;
  max-width: 80%;
  left: 50%;
  transform: translateX(-50%);
  top: 60px; /* 이 값을 조정하여 수직 위치 변경 */
}

.speech-bubble:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  border: 20px solid transparent;
  border-top-color: #f4feff;
  border-bottom: 0;
  border-left: 0;
  margin-left: -10px;
  margin-bottom: -20px;
}

#tarot_info {
  text-align: center;
  font-weight: lighter;
  font-size: 20px;
}

/* 모바일 스타일 (iPhone 12 Pro) */
@media screen and (max-width: 390px) {
  body, html {
    width: 390px;
    height: 844px;
  }

  .container {
    width: 100%;
    height: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
  }

  main {
    flex: 1;
    justify-content: space-between;
  }

  .service-area {
    padding: 40px 0;
  }

  .service-icon img {
    width: 180px;
    margin-bottom: 20px;
  }

  .center-card {
    width: 80px;
    height: 130px;
    margin: 20px auto;
  }

  .say-something-aera {
      padding: 40px 0; /* 모바일에서 패딩 줄임 */
  }
  
  #card1 {
      width: 150px;
      height: 225px;
      border: 2px dotted #928f8fbd;
  }

  .service-area span {
    margin-top: -90px;
  }

  #subcategory_name{
    margin-bottom: 100px;
  }

  .speech-bubble {
    margin-top: -90px; /* 모바일에서의 위치 조정 */
    width: 1000px;
    height: 50px;
    margin-bottom: 30px;
  }

  #tarot_info {
    font-size: 16px; /* 모바일에서 글자 크기 조정 */
    margin-top: 88px;
  }
}

/* 로그인 후 네비바 */

.dropdown {
    position: relative;
    margin-right: -100px;
}

.dropdown-toggle {
    display: flex;
    align-items: center;
    padding: 15px;
    background-color: #fff;
    border: none;
    cursor: pointer;
    text-decoration: none;
    color: inherit;
}

.profile-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
    margin-left: -10px;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 200px; /* 메뉴 너비 조정 */
    list-style-type: none;
    padding: 0;
    margin: 0;
    z-index: 1000;
    border: none;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-menu li {
    padding: 0;
}

.dropdown-menu li a {
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    color: inherit;
   
}

.dropdown-menu li:last-child a {
    border-bottom: none;
}

@media (max-width: 991px) {
    .dropdown-menu {
        position: static;
        width: 100%;
    }

    .dropdown:hover .dropdown-menu {
        display: none;
    }

    .dropdown-toggle:focus + .dropdown-menu,
    .dropdown-toggle:active + .dropdown-menu {
        display: block;
    }
}