ss/* styles.css */
.vote-bar {
    margin-top: 50px;
    margin-left: 100px;
    color: black;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color:#EAE1FF;
}

h1 {
    text-align: center;
}
.vote-list{
	position:relative;
	width:425px;
}
.vote-item {
    width: 1200px;
    height: 600px;
    padding: 10px;
    margin-bottom: 20px;
	border:none;
    background-color:#F4FEFF;
    margin-left:-10px;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
     7px 7px 20px 0px rgba(0, 0, 0, .1),
      4px 4px 5px 0px rgba(0, 0, 0, .1);
}

.vote-item h2 {
    position: relative;
    top: 63px;
    left: 556px;
    font-size: 20px;
    overflow-wrap: break-word;
    width: 619px;
}

.vote-item img {
    width: 40%;
    height: auto;
    display: block;
    margin-top: -18px;
    vertical-align: middle;
}

.vote-item p {
    position: relative;
    top: -317px;
    left: 554px;
    margin-bottom: 100px;
}

 .button-container {
  	display: flex;
    flex-direction: column;
    gap: 90px;
    position: relative;
    top: -580px;
        
    }

.button-container button {
    margin-left: 1401px;
    margin-top: 10px;
  	width: 80px;
    height: 30px;
    color: #fff;
    border-radius: 5px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
     box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
    }
.bar-container1 {
    display: flex;
    width: 400px;
    height: 30px;
    cursor: pointer;
    position: relative;
    border-radius: 5px;
    top: -475px;
    left: 706px;
    background-color: #FF69B4;
    margin-top: -240px;
    margin-left: -150px;
   box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5)
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
}
.bar-container2{
    display: flex;
    width: 400px;
    height: 30px;
    cursor: pointer;
    position: relative;
    border-radius: 5px;
    top: -470px;
    background-color: skyblue;
    margin-top: 100px;
    left: 554px;
     box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5)
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
}
#button1{
	position:relative;
	left: -394px;
	top:25px;
    width: 80px;
    height: 30px;
    border: none;
    border-radius: 5px;
    background: rgb(255, 151, 0);
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
button#button1.selected {
    background: rgb(251, 33, 117);
    background: linear-gradient(0deg, rgba(251, 33, 117, 1) 0%, rgba(234, 76, 137, 1) 100%);
    color: #fff;
}
button#button2.selected {
    background: rgb(0, 172, 238);
    background: linear-gradient(0deg, rgba(0, 172, 238, 1) 0%, rgba(2, 126, 251, 1) 100%);
    color: #fff;
}
#button2{
	position:relative;
	left: -394px;
	top:30px;
    width: 80px;
    height: 30px;
    border: none;
    border-radius: 5px;
    background: rgb(255, 151, 0);
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
/*#barContainer1{
    background-color:#FF69B4;
    margin-top:-240px;
    margin-left: -150px;
}
#barContainer2{
    background-color: skyblue;
    margin-top: 100px;
    margin-left: -150px;
}*/
.bar1 {
    position: relative;
    height: 100%;
    border-radius: 5px;
     background: rgb(251, 33, 117);
    background: linear-gradient(0deg, rgba(251, 33, 117, 1) 0%, rgba(234, 76, 137, 1) 100%);
}
.bar2 {
    position: relative;
    height: 100%;
    border-radius: 5px;
    background: rgb(0, 172, 238);
    background: linear-gradient(0deg, rgba(0, 172, 238, 1) 0%, rgba(2, 126, 251, 1) 100%);
}


.text-left{
    position:absolute;
}

#text1 {
    color:white;
    position:absolute;
    top:10%;
    left:5%;
}
#text2{
    position:absolute;
    color:white;
    top:10%;
    left:5%;
}
.percentage{
    position: absolute;
    color: white;
    left: 360px;
    top: 3px;
}
#replyButton{
    position: relative;
    top: -423px;
    left: 716px;
    margin-left: 10px;
     background-color: #f0ecfc;
background-image: linear-gradient(315deg, #f0ecfc 0%, #c797eb 0%);
    border: none;
    color: white;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
    width: 150px;
    height: 75px;
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
}
  #pagination {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
    }
.pageContainer{
	position:relative;
}
    #prevPage {
	position: relative;
    width: 50px;
    height:30px;
    color: black;
    border: none;
    cursor: pointer;
    font-size: 15px;
    left: 450px;
   	top: 59px;
    text-align:center;
    padding: 4.5px 3px;
    }
	#pageNumbers button{
		width:30px;
		height:30px;
		margin:5px;
		background-color: white;
		color: black;
		position:relative;
    	left: 520px;
    	top: 24px;
		border: none;
	}
	#nextPage{
	position: relative;
    width: 50px;
    height:30px;
    color: black;
    border: none;
    cursor: pointer;
    font-size: 15px;
    top: -11px;
    left: 740px;
    text-align:center;
    padding: 4.5px 3px;
	}
      #prevPage:hover, #nextPage:hover{
        box-shadow: 0 0 0 1px gray; /* 회색 테두리 효과 */
    }
	#pageNumbers button:hover{
		box-shadow: 0 0 0 1px gray; /* 회색 테두리 효과 */
	}
    #pageNumbers button .current-page {
		color: blue;
        border: 1px solid #ccc	;
        
    }
    #currentPage{
		display: none;
	}
    #pagination.Button{
		position: relative;
  		top: 1180px;
    	box-shadow: 0 0 0 1px gray;
    	left: -272px;
	}
.votelist{
	width:100%;
	 box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
}
@media (max-width: 767px){
	.votelist{
		width:90%;
	}
	.vote-item{
		width:90%;
		margin-left: 4%;
		height: 674px;
		border: 1px solid #ddd;
        border-radius: 10px;
	}
	.vote-item img{
		width:100%;
		margin-top: -24px;
	}
	.bar-container1{
		width: 100%;
        left: 149px;
        top: -4%;
    }
	.bar-container2{
   		width: 100%;
    	left: 1px;
    	top: -7%;
	}
	.reply-container #replyButton{
		height: 40px;
        width: 36%;
        left: 28%;
        top: 25px;
	}
	.button-container #button1 {
		position: relative;
        left: -1292px;
        top: 513px;
        font-size: 13px;
        width: 18%;
	}
	.button-container #button2 {
		font-size: 13px;
        width: 18%;
        position: relative;
        top: 497px;
        left: -1293px;
	}
	.vote-item h2{
    	top: 46%;
    	position: relative;
    	left: 2px;
    	font-size: 13px;
    	width: 250px;
	}
	.vote-item p{
		margin-bottom: 76px;
        position: relative;
        left: 2px;
        font-size: 13px;
        top: 14%;
	}

	.percentage{
		position:absolute;
		top:7%;
		left:227px;
	}
	.pageContainer{
		display:none;
        position: relative;
        left: -463px;
        top: -8px;	
	}
	.pageContainer #prevPage{
		left: 450px;
        top: 58px;
	}
	.pageContainer #nextPage{
		left: 731px;
        top: -12px;
	}
	.pageContainer #pageNumbers{
		position: relative;
        left: -10px;
	}
}

/* 로그인 후 네비바 */

.dropdown {
    position: relative;
    margin-right: -100px;
}

.dropdown-toggle {
    display: flex;
    align-items: center;
    padding: 15px;
    background-color: #fff;
    border: none;
    cursor: pointer;
    text-decoration: none;
    color: inherit;
}

.profile-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
    margin-left: -10px;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 200px; /* 메뉴 너비 조정 */
    list-style-type: none;
    padding: 0;
    margin: 0;
    z-index: 1000;
    border: none;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-menu li {
    padding: 0;
}

.dropdown-menu li a {
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    color: inherit;
   
}

.dropdown-menu li:last-child a {
    border-bottom: none;
}

@media (max-width: 991px) {
    .dropdown-menu {
        position: static;
        width: 100%;
    }

    .dropdown:hover .dropdown-menu {
        display: none;
    }

    .dropdown-toggle:focus + .dropdown-menu,
    .dropdown-toggle:active + .dropdown-menu {
        display: block;
    }
}