<!doctype html>
<html class="no-js" lang="zxx">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Download</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="manifest" th:href="site.webmanifest">
		<link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico">

		<!-- CSS here -->
            <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
            <link rel="stylesheet" th:href="@{/css/owl.carousel.min.css}">
            <link rel="stylesheet" th:href="@{/css/flaticon.css}">
            <link rel="stylesheet" th:href="@{/css/slicknav.css}">
            <link rel="stylesheet" th:href="@{/css/animate.min.css}">
            <link rel="stylesheet" th:href="@{/css/magnific-popup.css}">
            <link rel="stylesheet" th:href="@{/css/fontawesome-all.min.css}">
            <link rel="stylesheet" th:href="@{/css/themify-icons.css}">
            <link rel="stylesheet" th:href="@{/css/slick.css}">
            <link rel="stylesheet" th:href="@{/css/nice-select.css}">
            <link rel="stylesheet" th:href="@{/css/style.css}">
			<link rel="stylesheet" th:href="@{/css/nav.css}">
			<link rel="stylesheet" th:href="@{/css/download.css}">
   </head>

   <body>
	<header>
	     <!-- Header Start -->
	    <div class="header-area header-transparrent ">
	         <div class="main-header header-sticky">
	             <div class="container">
	                 <div class="row align-items-center">
	                     <!-- Logo -->
	                     <div class="col-xl-2 col-lg-2 col-md-2">
	                         <div class="logo">
	                             <a th:href="@{/}" class="logo-text">CIRCLE TAROT</a>
	                             <div class="hover-content">
	                                 <span class="hover-text left-text">동그</span>
	                                 <div class="logo-image"></div>
	                                 <span class="hover-text right-text">라미</span>
	                             </div>
	                         </div>
	                     </div>
	                     <div class="col-xl-10 col-lg-10 col-md-10">
	                         <!-- Main-menu -->
	                         <div class="main-menu f-right d-none d-lg-block">
	                             <nav>
	                                 <ul id="navigation">    
	                                     <li class="active"><a th:href="@{/}"> Home</a></li>
	                                     <li><a th:href="@{/tarotlist}">타로 보러가기</a></li>
	                                     <li><a th:href="@{/vote}">논쟁 투표</a></li>
	                                     <li><a th:href="@{/review}">후기</a></li>
										<li style="margin-right: -100px;"><a th:href="@{/login}">로그인 / 회원가입</a></li>
	                             </nav>
	                         </div>
	                     </div>
	                     <!-- Mobile Menu -->
	                     <div class="col-12">
	                         <div class="mobile_menu d-block d-lg-none"></div>
	                     </div>
	                 </div>
	             </div>
	         </div>
	    </div>
	     <!-- Header End -->
	 </header>

    <main>
		<!-- Available App  Start-->
		 <div class="available-app-area">
		     <div class="container">
		         <div class="row d-flex justify-content-between">
		             <div class="col-xl-5 col-lg-6">
		                 <div class="app-caption">
		                     <div class="section-tittle section-tittle3">
		                         <h2>동그라미 타로</h2>
		                         <p>당신의 운명을 밝혀줄💡 타로 카드와 함께,<br> 당신의 여정을 시작하세요.</p>
		                         <div class="app-btn">
		                             <a href="#" class="app-btn1"><img src="/images/shape/app_btn1.png" alt=""></a>
		                             <a href="#" class="app-btn2"><img src="/images/shape/app_btn2.png" alt=""></a>
		                         </div>
		                     </div>
		                 </div>
		             </div>
		             <div class="col-xl-6 col-lg-6">
		                 <div class="app-img">
		                     <img src="/images/shape/download.png" alt="">
		                 </div>
		             </div>
		         </div>
		     </div>
		     <!-- Shape -->
		     <div class="app-shape">
		         <img src="/images/shape/app-shape-top.png" alt="" class="app-shape-top heartbeat d-none d-lg-block">
		         <img src="/images/shape/app-shape-left.png" alt="" class="app-shape-left d-none d-xl-block">
		         <!-- <img src="assets/img/shape/app-shape-right.png" alt="" class="app-shape-right bounce-animate "> -->
		     </div>
		 </div>
		 <!-- Available App End-->

     
    </main>
	<footer>
	    <!-- Footer Start-->
	    <div class="footer-main">
	        <div class="footer-area footer-padding">
	            <hr class="gray-line">
	            <div class="container">               
	                <div class="row justify-content-between">
	                    <div class="col-lg-3 col-md-4 col-sm-8">
	                        <div class="single-footer-caption mb-30">
	                            <!-- logo -->
	                            <div class="footer-logo">
	                                <div class="logo">
	                                    <a href="#" class="footer-text">CIRCLE TAROT</a>
	                                </div>
	                            </div>
	                        </div>
	                    </div>
	                </div>
	                <!-- Copy-Right -->
	                <div class="row align-items-center">
	                    <div class="col-xl-12">
	                        <div class="footer-copy-right">
	                            <p>
	                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
	                                Copyright &copy;<script>document.write(new Date().getFullYear());</script>
	                                All rights reserved | This template is made with <i class="ti-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">DongramiTarot</a>
	                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
	                            </p>
	                        </div>
	                    </div>
	                </div>
	            </div>
	        </div>
	        <!-- Footer End-->
	    </div>
	</footer>
   
	<!-- JS here -->
	
		<!-- All JS Custom Plugins Link Here here -->
        <script src="./assets/js/vendor/modernizr-3.5.0.min.js"></script>
		
		<!-- Jquery, Popper, Bootstrap -->
		<script src="./assets/js/vendor/jquery-1.12.4.min.js"></script>
        <script src="./assets/js/popper.min.js"></script>
        <script src="./assets/js/bootstrap.min.js"></script>
	    <!-- Jquery Mobile Menu -->
        <script src="./assets/js/jquery.slicknav.min.js"></script>

		<!-- Jquery Slick , Owl-Carousel Plugins -->
        <script src="./assets/js/owl.carousel.min.js"></script>
        <script src="./assets/js/slick.min.js"></script>
        <!-- Date Picker -->
        <script src="./assets/js/gijgo.min.js"></script>
		<!-- One Page, Animated-HeadLin -->
        <script src="./assets/js/wow.min.js"></script>
		<script src="./assets/js/animated.headline.js"></script>
        <script src="./assets/js/jquery.magnific-popup.js"></script>

		<!-- Scrollup, nice-select, sticky -->
        <script src="./assets/js/jquery.scrollUp.min.js"></script>
        <script src="./assets/js/jquery.nice-select.min.js"></script>
		<script src="./assets/js/jquery.sticky.js"></script>
        
        <!-- contact js -->
        <script src="./assets/js/contact.js"></script>
        <script src="./assets/js/jquery.form.js"></script>
        <script src="./assets/js/jquery.validate.min.js"></script>
        <script src="./assets/js/mail-script.js"></script>
        <script src="./assets/js/jquery.ajaxchimp.min.js"></script>
        
		<!-- Jquery Plugins, main Jquery -->	
        <script src="./assets/js/plugins.js"></script>
        <script src="./assets/js/main.js"></script>
        
    </body>
</html>