<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>리뷰 페이지</title>

	
	<!-- CSS here -->
	   <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
	   <link rel="stylesheet" th:href="@{/css/owl.carousel.min.css}">
	   <link rel="stylesheet" th:href="@{/css/slicknav.css}">
	   <link rel="stylesheet" th:href="@{/css/animate.min.css}">
	   <link rel="stylesheet" th:href="@{/css/magnific-popup.css}">
	   <link rel="stylesheet" th:href="@{/css/fontawesome-all.min.css}">
	   <!--<link rel="stylesheet" th:href="@{/css/themify-icons.css}">
	   <link rel="stylesheet" th:href="@{/css/themify-icons.css}">-->
	   <link rel="stylesheet" th:href="@{/css/slick.css}">
	   <link rel="stylesheet" th:href="@{/css/nice-select.css}">
	   <link rel="stylesheet" th:href="@{/css/style.css}">
	   <link rel="stylesheet" th:href="@{/css/responsive.css}">
	   <link rel="stylesheet" th:href="@{/css/nav.css}">
	   <link rel="stylesheet" th:href="@{/css/review.css}">
  
</head>
<body>
	<header>
	        <!-- Header Start -->
	       <div class="header-area header-transparrent ">
	            <div class="main-header header-sticky">
	                <div class="container">
	                    <div class="row align-items-center">
	                        <!-- Logo -->
	                        <div class="col-xl-2 col-lg-2 col-md-2">
	                            <div class="logo">
	                                <a href="#" class="logo-text">CIRCLE TAROT</a>
	                                <div class="hover-content">
	                                    <span class="hover-text left-text">동그</span>
	                                    <div class="logo-image"></div>
	                                    <span class="hover-text right-text">라미</span>
	                                </div>
	                            </div>
	                        </div>
	                        <div class="col-xl-10 col-lg-10 col-md-10">
	                            <!-- Main-menu -->
	                            <div class="main-menu f-right d-none d-lg-block">
	                                <nav>
	                                    <ul id="navigation">    
	                                        <li class="active"><a th:href="@{/index}"> Home</a></li>
	                                        <li><a th:href="@{/tarotlist}">타로 보러가기</a></li>
	                                        <li><a th:href="@{/vote}">논쟁 투표</a></li>
	                                        <li><a th:href="@{/review}">리뷰</a></li>
											<li style="margin-right: -100px;" th:if="${session.loggedInUser == null}">
											     <a th:href="@{/login}">로그인 / 회원가입</a>
											</li>
											<li class="dropdown" style="margin-right: -100px;" th:if="${session.loggedInUser != null}">
											     <a href="#" class="dropdown-toggle">
											          <img src="/images/mainlogo.png" alt="프로필 이미지" class="profile-img">
											          <span th:text="${session.loggedInUser.nickname}">사용자 이름</span>
											     </a>
											     <ul class="dropdown-menu">
											     	<li><a th:href="@{/mypage}">마이페이지</a></li>
											     	<li><a th:href="@{/logout}">로그아웃</a></li>
											   </ul>
										  </li>
	                                </nav>
	                            </div>
	                        </div>
	                        <!-- Mobile Menu -->
	                        <div class="col-12">
	                            <div class="mobile_menu d-block d-lg-none"></div>
	                        </div>
	                    </div>
	                </div>
	            </div>
	       </div>
	        <!-- Header End -->
	    </header>

<main>
    <div class="review-summary">
        <h2>리뷰 <span id="review-count" th:text="${reviewCount}">0</span></h2>
        <div class="review-stars-container">
            <div class="rating-score">
                <span class="fixed-star">★</span>
                <span class="rating-value" th:text="${ratingValue}">0.0</span>
                <span class="rating-details" th:text="${ratingDetails}">0개의 리뷰</span>
            </div>
            <div class="divider"></div>
            <div class="satisfaction">
                <div class="stars">
                    <span class="star">★</span>
                    <span class="star">★</span>
                    <span class="star">★</span>
                    <span class="star">★</span>
                    <span class="star">★</span>
                </div>
            </div>
        </div>
    </div>

    <!-- 필터 버튼들 -->
    <div class="review-filter-buttons" id="review-filter-buttons">
        <button class="filter-btn" data-category="all">전체</button>
        <button class="filter-btn" data-category="category1">연애</button>
        <button class="filter-btn" data-category="category2">금전</button>
        <button class="filter-btn" data-category="category3">직장</button>
        <button class="filter-btn" data-category="category4">학업</button>
        <button class="filter-btn" data-category="category5">대인</button>
    </div>

    <div class="review-container" id="reviews">
        <div th:each="review : ${reviews}">
            <div class="review-post" th:data-category="${review.category}">
                <img th:src="@{/images/basic.png}" th:alt="${review.title}">
                <h2 th:text="${review.title}">리뷰 제목</h2>
                <p class="review-author">BY <span th:text="${review.author}">닉네임</span> | <span th:text="${review.date}">2023-07-01</span> | <span class="review-stars" th:text="${'★'.repeat(review.rating) + '☆'.repeat(5 - review.rating)}">★★★★★</span></p>
                <p class="review-excerpt" th:text="${review.content}">리뷰 내용</p>
                <a th:href="@{/about.html}" class="review-read-more">타로보러가기 »</a>
            </div>
        </div>
    </div>

    <!-- 페이지네이션 -->
    <div class="review-pagination">
        <a href="#" class="pagination-prev">이전</a>
        <a href="#" class="pagination-page">1</a>
        <a href="#" class="pagination-page">2</a>
        <a href="#" class="pagination-page">3</a>
        <a href="#" class="pagination-next">다음</a>
    </div>

    <!-- JavaScript로 리뷰 데이터를 전달 -->
    <script th:inline="javascript">
        /*<![CDATA[*/
        const reviews = /*[[${reviews}]]*/ [];
        /*]]>*/
    </script>
</main>

<footer>
    <div class="footer-main">
        <div class="footer-area footer-padding">
            <hr class="review-gray-line">
            <div class="container">
                <div class="row justify-content-between">
                    <div class="col-lg-3 col-md-4 col-sm-8">
                        <div class="single-footer-caption mb-30">
                            <div class="footer-logo">
                                <div class="logo">
                                    <a href="#" class="footer-text">CIRCLE TAROT</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row align-items-center">
                    <div class="col-xl-12">
                        <div class="footer-copy-right">
                            <p>
                                Copyright &copy;<script>document.write(new Date().getFullYear());</script>
                                All rights reserved | This template is made with <i class="ti-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">DongramiTarot</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>


<!-- JS here -->
	
	<!-- All JS Custom Plugins Link Here here -->
	<script th:src="@{/js/vendor/modernizr-3.5.0.min.js}"></script>

	<!-- Jquery, Popper, Bootstrap -->
	<script th:src="@{/js/vendor/jquery-1.12.4.min.js}"></script>
	<script th:src="@{/js/popper.min.js}"></script>
	<script th:src="@{/js/bootstrap.min.js}"></script>
	<!-- Jquery Mobile Menu -->
	<script th:src="@{/js/jquery.slicknav.min.js}"></script>

	<!-- Jquery Slick , Owl-Carousel Plugins -->
	<script th:src="@{/js/owl.carousel.min.js}"></script>
	<script th:src="@{/js/slick.min.js}"></script>

	<!-- One Page, Animated-HeadLin -->
	<script th:src="@{/js/wow.min.js}"></script>
	<script th:src="@{/js/animated.headline.js}"></script>

	<!-- Scrollup, nice-select, sticky -->
	<script th:src="@{/js/jquery.scrollUp.min.js}"></script>
	<script th:src="@{/js/jquery.nice-select.min.js}"></script>
	<script th:src="@{/js/jquery.sticky.js}"></script>
	<script th:src="@{/js/jquery.magnific-popup.js}"></script>

	<!-- contact js -->
	<script th:src="@{/js/contact.js}"></script>
	<script th:src="@{/js/jquery.form.js}"></script>
	<script th:src="@{/js/jquery.validate.min.js}"></script>
	<script th:src="@{/js/mail-script.js}"></script>
	<script th:src="@{/js/jquery.ajaxchimp.min.js}"></script>

	<!-- Jquery Plugins, main Jquery -->	
	<script th:src="@{/js/plugins.js}"></script>
	<script th:src="@{/js/main.js}"></script>

	<!--리뷰 js-->
	<script th:src="@{https://code.jquery.com/jquery-3.6.0.min.js}"></script>
 	<script defer th:src="@{/js/review.js}"></script>



</body>
</html>
